<?xml version="1.0"?>
<launch>
  <arg name="poll_period" default="1.0"/>
  <arg name="network_entity" default="fog"/>

  <node pkg="cpu_monitor" name="$(arg network_entity)_cpu_monitor" type="monitor.py" output="screen">
    <param name="poll_period" value="$(arg poll_period)"/>
  </node>
</launch>
