<?xml version="1.0"?>
<launch>
    <include file="$(find fuse_color_3d)/launch/edge.launch">
        <arg name="bag" default="$(env HOME)/Desktop/robo1"/>
        <arg name="bag_start" default="0"/>
        <arg name="robot_name" default="robo1"/>
        <arg name="do_log" default="true"/>
        <arg name="network_entity" default="edge"/>
        <arg name="arch1" default="false"/>
        <arg name="arch2" default="false"/>
        <arg name="arch3" default="false"/>
   </include>
   <include file="$(find fuse_color_3d)/launch/edge.launch">
       <arg name="bag" default="$(env HOME)/Desktop/robo3"/>
       <arg name="bag_start" default="0"/>
       <arg name="robot_name" default="robo3"/>
       <arg name="do_log" default="true"/>
       <arg name="network_entity" default="edge"/>
       <arg name="arch1" default="false"/>
       <arg name="arch2" default="false"/>
       <arg name="arch3" default="false"/>
  </include>
</launch>
