<?xml version="1.0"?>
<launch>
    <!--Launch everything to be processed in the fog-->

    <!--List of arguments-->
    <arg name="save_directory" default="$(env HOME)/Desktop"/>
    <arg name="visualize" default="true"/>

    <!--TF from base_link to body, must be better adjusted-->
    <arg name="tf_body_bl" value="0 0 0 0 0 0"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_fl2z" args="$(arg tf_body_bl) /body /base_link 10"/>

    <!--Fast lio node with its launch file-->
    <include file="$(find fast_lio)/launch/mapping_mid70.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!--Lidar and color fusion algorithm-->
    <node name="project_image_pointcloud_node" type="project_cloud_cpu_node" pkg="uwo_pack" output="screen">
        <rosparam file="$(find uwo_pack)/config/zed_params.yaml"/>
    </node>

    <!--Scan context algorithm to detect loop closure-->
    <include file="$(find aloam_velodyne)/launch/fastlio_mid70.launch">
        <arg name="rvizscpgo" value="false"/>
    </include>

    <!--Mesh calculation server node-->
    <node name="final_mesh_server_node" type="final_mesh_node" pkg="uwo_pack" output="screen">
        <param name="save_directory" value="$(arg save_directory)"/>
    </node>

    <group if="$(arg visualize)">
        <node name="rviz_uwo" pkg="rviz" type="rviz" args=" -d $(find uwo_pack)/resources/visualize.rviz" output="screen">
        </node>
    </group>
</launch>
